.menu {
    width: 1440px;
    height: 60px;
    flex-shrink: 0;
    background: #DCDCDD;
}

.menu-text {
    display: flex;
    width: 309px;
    height: 49px;
    flex-direction: column;
    color: #C0C0C0;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}

.cabecalho {
    width: 1440px;
    height: 291px;
    flex-shrink: 0;
    background: #C5C3C6;
}

.cabecalho-img {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.cabecalho-text {
    display: flex;
    width: 1055px;
    height: 66px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.corpo {
    width: 1440px;
    height: 608px;
    flex-shrink: 0;
    background: #4C5C68;
}

.corpo-text {
    display: flex;
    width: 538px;
    height: 57px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}

.rodape {
    width: 1440px;
    height: 68px;
    flex-shrink: 0;
    background: #46494C;
}

.rodape-text {
    display: flex;
    width: 297px;
    height: 35px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}