.menu {
    width: 1440px;
height: 60px;
flex-shrink: 0;
background: #DCDCDD;
}

.menu-texto {
    display: flex;
width: 309px;
height: 49px;
flex-direction: column;
color: #C0C0C0;
font-size: 32px;
font-family: Inter;
font-weight: 700;
}