.menu {
    width: 1440px;
    height: 60px;
    flex-shrink: 0;
    background: #DCDCDD;
}

.menu-text {
    display: flex;
    width: 309px;
    height: 49px;
    flex-direction: column;
    color: #C0C0C0;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}

.cabecalho {
    width: 1440px;
    height: 291px;
    flex-shrink: 0;
    background: #C5C3C6;
}

.cabecalho-img {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    left: 21px;
    right: 1159;
    top: 72;
    bottom: 692;
    position: absolute;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.cabecalho-text {
    display: flex;
    width: 1055px;
    height: 66px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.corpo {
    width: 1440px;
    height: 608px;
    flex-shrink: 0;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    background: #4C5C68;
}

    .imagem1 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 181;
        right: 1059;
        top: 452;
        bottom: 372;
        background: url(<path-to-image>), lightgray -137.178px 1.168px / 169.456% 100% no-repeat;
    }

    .imagem2 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 620;
        right: 620;
        top: 452;
        bottom: 372;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .imagem3 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 1059;
        right: 181;
        top: 452;
        bottom: 372;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .imagem4 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 181;
        right: 1059;
        top: 718;
        bottom: 106;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .imagem5 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 620;
        right: 620;
        top: 718;
        bottom: 106;
        fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .imagem6 {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        left: 1059;
        right: 181;
        top: 718;
        bottom: 106;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

.corpo-text {
    display: flex;
    width: 538px;
    height: 57px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}

.rodape {
    width: 1440px;
    height: 68px;
    flex-shrink: 0;
    background: #46494C;
}

    .rodape-img1 {
        width: 72px;
        height: 72px;
        flex-shrink: 0;
        left: -4;
        right: 1270;
        top: 817;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .rodape-img2 {
        width: 174px;
        height: 153px;
        flex-shrink: 0;
        left: 489;
        right: 879;
        top: 954;
        bottom: -2;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

.rodape-text {
    display: flex;
    width: 297px;
    height: 35px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}